:root {
    --pr-color :  #3385ff;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f6f9fe;
}


/* navbar */

.navbar{
    z-index: 3;
    box-shadow: 5 0 0 0 #000000;
}

* {
    z-index: 2;
}

.aksen-img{
    z-index: 1;
    opacity: 50%;
}

.img-hero{
    z-index: 1;
    margin-bottom: 50vh;
}

.navbar-brand{
    font-weight: 700;
    font-size: 20px;
}

.nav-link{
    font-size: 16px;
}

.nav-link.active{
    font-weight: 600;
}

.nav-item1 a{
    margin-right: 10px;
}

/* Hero */
 #hero {
    background: linear-gradient(150deg, var(--pr-color),  #001433);
    height: 100vh;
    width: 100%;
 }

 .img-hero {
    height: 100%;
    z-index: -4;
 }

 .rp {
    z-index: 5;
 }

.hero-tagline h1{
    color: #fff;
    font-weight: 700;
    font-size: 44px;
    line-height: 72px;
}

.hero-tagline p{
    font-size: 16px;
    color: #fff;
    margin-bottom: 60px;
    margin-top: 20px;
    line-height: 30px;
    width: 85%;
}

.button-lg-primary {
    width: 150px;
    height: 50px;
    background-color: #fff;
    color: var(--pr-color);
    border: none;
    font-size: 20px;
    font-weight: 600;
    border-radius: 10px;
    transition: all 0.2s ease-in;
}

.button-lg-primary:hover {
    width: 150px;
    height: 50px;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    font-size: 20px;
    font-weight: 600;
    border-radius: 15px;
    transition: all 0.2s ease-out;
}

.span.fw-bold{
    color: #fff;
}

/* Jasa Section */
#jasa {
    padding: 100px 0;
}


h2 {
    font-size: 48px;
    font-weight: 500;
    color: var(--pr-color);
}

span {
    font-size: 18px;
}

.card-jasa {
    width: 100%;
    height: 370px;
    border-radius: 5px;
    background-color: #ffffff;
    padding: 40px;
    box-shadow: 0 0 7px 3px rgba(0, 0, 0, 0.05);
    transition: all 0.2s ease-in;
}

.circle-icon {
    width: 100px;
    height: 100px;
    background-color: transparent;
    border-radius: 50%;
    transition: all 0.2s ease-in;
}

.card-jasa h3{
    color: var(--pr-color);
    font-size: 24px;
    transition: all 0.2s ease-in;
}

.card-jasa p{
    color: black;
    font-size: 14px;
    transition: all 0.2s ease-in;
}

/* Hover */
.card-jasa:hover {
    width: 100%;
    height: 370px;
    border-radius: 5px;
    background: linear-gradient(150deg, var(--pr-color),  #000080);
    padding: 40px;
    box-shadow: 0 0 7px 3px rgba(0, 0, 0, 0.05);
    transition: all 0.2s ease-out;
}

.card-jasa:hover .circle-icon {
    background-color: #fff;
    transition: all 0.2s ease-out;
}

.card-jasa:hover h3{
    color: white;
    font-size: 24px;
    transition: all 0.2s ease-out;
}

.card-jasa:hover p{
    color: white;
    font-size: 14px;
    transition: all 0.2s ease-out;
}

#progres {
    background: linear-gradient(rgba(44, 58, 253, 0.85), rgba(49, 100, 255, 0.85)), url(../img/miles.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* height: 30vh; */
}

#progres h1,
#progres p {
    color: #fff;
}

.display-4 {
    font-weight: 600;
    color: var(--dark);
}

#progres {
    padding-top: 25px;
    padding-bottom: 25px;
}



/* about */

#about {
    /* padding: 100px 0; */
    /* height: 107vh; */
    width: 100%;
}

.about-text span {
    color: var(--pr-color);
    text-align: center;
    font-size: 48px;
}

.about-text h6 {
    text-align: center;
    font-size: 48px;
}

.about-text hr {
    width: 200px;
    height: 2px;
    border-radius: 5px;
    color: var(--pr-color);
}

.main1 {
    font-size: 45px;
}
.about {
    padding: 30px 10%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 25vh;
    gap: 70px;
}

.card-1 {
    width: 460px;
    height: 280px;
} 





/* About us */
/* #about {
    background: var(--pr-color) ;
    height: 115vh;
    width: 100%;
    padding: 100px 0;
}

#about h2 {
    color: white;
    font-size: 48px;
    font-weight: 500;
}

#about span {
    font-size: 18px;
    color: white;
}

.about hr{
    margin-bottom:10px;
    color: white;
    height: 0.5vh;
}

#about h3 {
    color: white;
    font-size: 36px;
    font-weight: 400;
}

#about p {
    color: white;
    font-size: 18px;

} */

/* Kontak */
#contact {
    background-image: url(../img/harbor.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

#contact .overlay {
    background: rgba(0, 0, 0, 0.5);
}

#contact .container {
    padding: 148px 0 148px 0;
}

#contact h3 {
    font-weight: 600;
    font-size: 40px;
    line-height: 60px;
    color: #ffffff;
}

.wa img {
 height: 45px;
 width: 200px;
}

.email {
    background-color: transparent;
    width: 190px;
}
.email:hover {
    background-color: white;
    color: #000000;
    width: 190px;
    border-radius: 3px;
}

.telephone {
    background-color: transparent;
    width: 120px;
}
.telephone:hover {
    background-color: white;
    color: #000000;
    width: 120px;
    border-radius: 3px;
}

.location {
    background-color: transparent;
    width: 300px;
}
.location:hover {
    background-color: white;
    color: #000000;
    width: 300px;
    border-radius: 3px;
}

.kontak h6 {
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #ffffff;
    margin: 19px 0 14px 0;
}

.kontak a {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    color: #ffffff;
    text-decoration: none;
    margin-left: 18px;
    width: 332px;
    display: inline-block;
}

.card-contact h2 {
    color: var(--pr-color);
    font-weight: 600;
    font-size: 40px;
    line-height: 60px;
}

.card-contact{
    width: 100%;
    height: 520px;
    background-color:  #f6f9fe;
    border-radius: 5px;
    padding: 52px 48px;
    text-align: center;
    margin-bottom: 21px;
}

.form-control {
    height: 75px !important;
    background: #f2f2f2;
}

.form-floating label {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    color: #717171;
}

.button-kontak {
    width: 100%;
    height: 75px;
    background: var(--pr-color);
    border: none;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: #ffffff;
    border-radius: 5px;
    transition: all 0.2s ease-in;
}

.button-kontak:hover {
    width: 100%;
    height: 75px;
    background: transparent;
    border: 2px solid var(--pr-color);
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: var(--pr-color);
    border-radius: 5px;
    transition: all 0.2s ease-out;
}

#contact span {
    color: var(--pr-color);
    font-weight: 600;
    font-size: 40px;
    line-height: 60px;
}

footer {
    background: #fafafa;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

footer .footer-top {
    padding-top: 80px;
    padding-bottom: 40px;
}

.footer-bottom {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 20px;
    padding-top: 20px;
}

footer .navbar-brand {
    color: #000000;
}

footer p {
    color: #000000;
}

footer .social-icons a {
    width: 50px;
    height: 50px;
    font-size: 20px;
    margin-left: 4px;
    margin-right: 4px;
}

/* footer {
    width: 100%;
    height: 270px;
    background: hsl(0, 0%, 98%);
}

footer img{
    width: auto;
    height: 20px;
}

.copyright {
    bottom: 1%;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
}

footer a{
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    color: black;
    text-decoration: none;
} */

.dropdown-item {
    display: block;
    width: 100%;
    padding: .25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #3a3b45;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0
}

.dropdown-item:hover {
    color: white;
    background-color: var(--pr-color);
    border-radius: 4px;
}

.dropdown-menu {
    /* position: absolute;
    top: 100%;
    left: 0; */
    /* z-index: 1000; */
    /* display: none; */
    /* float: left; */
    min-width: 7rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: .85rem;
    color: #858796;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #e3e6f0;
    border-radius: .20rem
}

